* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --azul-claro: #e6f6ff;
  --azul-marino: #102a43;
  --azul: #1d4e73;
  --blanco: #ffffff;
  --texto: #17324a;
  --gris: #607587;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: var(--azul-claro);
  color: var(--texto);
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--blanco);
  border-bottom: 3px solid var(--azul-marino);
  padding: 18px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--azul-marino);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 5px;
}

nav {
  display: flex;
  gap: 18px;
}

nav a {
  color: var(--azul-marino);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  opacity: 0.7;
}

.hero {
  padding: 90px 6%;
  text-align: center;
}

.hero-box {
  max-width: 900px;
  margin: auto;
  background: var(--blanco);
  border: 4px solid var(--azul-marino);
  border-radius: 20px;
  padding: 55px 30px;
  box-shadow: 8px 8px 0 var(--azul-marino);
}

.hero h1 {
  color: var(--azul-marino);
  font-size: 55px;
  margin-bottom: 15px;
}

.hero p {
  color: var(--gris);
  max-width: 650px;
  margin: auto;
}

.boton {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 22px;
  background: var(--azul-marino);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 75px 6%;
  max-width: 1200px;
  margin: auto;
}

.titulo {
  text-align: center;
  margin-bottom: 35px;
}

.titulo h2 {
  color: var(--azul-marino);
  font-size: 38px;
}

.titulo p {
  color: var(--gris);
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.tarjeta {
  background: var(--blanco);
  border: 3px solid var(--azul-marino);
  border-radius: 16px;
  padding: 25px;
  box-shadow: 5px 5px
